.card {
  position: relative;
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  padding: 3px;
  transition: all 0.3s;
}

.card::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
  filter: blur(10px);
}

.card:hover::before {
  opacity: 1;
}

.card2 {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  border-radius: 17px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card2:hover {
  transform: scale(0.98);
}
